<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Short Url🕵️</title>
</head>
<body>
    <form method="post">
        <div class="container">
            <div class="start-input">
                <input type="text" name="input-nickname" id="input-nickname" placeholder="Enter link...">
            </div>
            <div class="button-container">
                <button class="oneclick" type="submit" id="button-submit">Short🔎</button>
            </div>
        </div>
    </form>   
</body>
</html>


